body{
    font-family: Arial, sans-serif;
   font: 1.2rem;
}

header {
    background-color: #8b8d8f;
}
nav{
    background-color: #83b6e8;
}
main{
    background-color: #c7f09c;
    font-size: 1.3rem;
}

footer{
    background-color: #8b8d8f;
    text-align: center;
    }

ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 60px;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0e81f4;
}

p{
    line-height: 1.6;
}